/*reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
 }

 .contenedor1{
     display: flex;
     width: 700px;
     height: 200px;
  /*   border: 2px solid green;*/
     justify-content: space-around;
     padding: 20px;

 }

 .contenedor2{
    display: flex;
    width: 700px;
    height: 120px;
 /*   border: 2px solid green;*/
    justify-content: space-around;
    padding: 10px;

}

 .cajita1{
     background-color:black;
     color:lightblue;
     padding-top: 50px;
     text-align: center;
     width: 200px;
     
 }

 .cajita2{
    background-color:lightblue;
    color:black;
    padding-top:10px;
    text-align: center;
    width: 100px;
    height: 100px;
    
}

 #code{
    width: 50px;
    background-color: lightblue;
 }

 #cafe{
    width: 50px;
    background-color: lightblue;
 }

 #music{
    width: 50px;
    background-color: lightblue;
 }

 .img-cont2{
    width: 20px;
    align-content: center;
    padding-top: 10px;
 }

 